@charset "UTF-8";
        .box1{
            border-radius: 10px;
            border: 2px solid #73AD21;
            background-color : #73AD21;
            padding: 10px;
            margin : 10px;
            width : 400px;
            height : 20px;
            color : white;
            text-align : center;
        }
        .box2{
            padding : 10px;
            margin : 10px;
            width: 400px;
            text-align : center;
        }
        .box3{
            margin: 10px;
            padding: 10px;
            width: 400px;
            text-align: center;
        }
        .cardClear{
            clear : both;
        }
        #msg{
            border-radius: 5px;
            border : 2px solid #73AD21;
            padding: 10px;
            padding-left:  20px;
            margin: 10px;
            width: 400px;
            height: 200px;
            font-size: 14px;
            text-align: left;
            float: left;
        }       
        


html{
    margin: 0; padding: 0;
}
.headerbar{
    position: absolute; width: 100%; height: 70px; background-color:brown;
    z-index: 1; margin: 0; 
}
.fa-solid:hover{
    cursor: pointer;
}
.fa-wine-bottle, .fa-temperature-low, .fa-mountain-sun, .fa-hotel{
    color: brown; font-size: 60px;
    position: absolute; top: 60px;
}
.fa-solid.fa-bars{
    position: fixed;  z-index: 1; font-size: 40px; color: white;
    top: 20px; right: 20px;
}
.drinkpic1{
    display: flex; width: 100%;
    height: auto; z-index: 0; position: relative; margin: 0; padding: 0;
}
.recommendCard{
    float: left;  background-color: bisque;
    height: 300px; width: 30%; margin: 0px 8px 0px 8px; 
}

.fullcardBasket{
    position: relative; 
    
}
.cardBasket{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.cardNo3,.cardNo2,.cardNo1,.transed{
    display: flex;
    flex-direction: column; /*내용을 세로로 정렬*/
    justify-content: center;
    align-items: center;
    text-align: center;/*내용을 가운데정렬 */
}
.cb1>.transed:hover{
    backface-visibility: visible;
    transform-origin : 50% 50%;
    animation: moveHorizontal 3s linear infinite;
}

@keyframes moveHorizontal {
0% {
    transform: translateX(10px) perspective(500px) rotateY(-20deg) rotateX(0deg);
}
25% {
    transform: perspective(500px) translateX(20px);
}
50% {
transform: translateX(-10px) perspective(500px) rotateY(20deg) rotateX(0deg);
}
75% {  transform: perspective(500px) translateX(20px);}
100%{
    transform: translateX(10px) perspective(500px) rotateY(-20deg) rotateX(0deg);
}

}
/* @keyframes moveSlideMenu {
    from {
        transform: translate(0px);
    }
    to{
        transform:  translateY(50px);
    }
    
    } */
    .star-rating{
        margin-bottom: 10px;
    }
    .star-ratingbottom{
        text-align: center;
        
        display: flex;
        align-items: center;
        justify-content: center;
        /*height: 20%;
        */
    }
    .score-Level{
    margin-top: 80px;
    }
    .star-rating-text p {
      margin: 5px;
    }
    .star{
        color: yellow; font-size: 130%;
    }
    .fa-solid.fa-bars{
        position: fixed;  z-index: 1; font-size: 40px; color: white;
        top: 20px; right: 20px;
    }
    .drinkpic1{
        display: flex; width: 100%;
        height: auto; z-index: 0; position: relative;
    }
    .recommendCard{
        float: left;  background-color: bisque;
        height: 300px; width: 30%; margin: 0px 8px 0px 8px; 
    }
    .fa-circle-chevron-left{
        position:absolute; right: 94%; top : 130px; z-index: 1;
        font-size: 40px; color: burlywood;
    }
    .fa-circle-chevron-right{
        position: absolute; left: 94%; top : 130px; z-index: 1;
        font-size: 40px; color: burlywood;
    }

    
    .cb2>.transed:hover{
        backface-visibility: visible;
        transform-origin : 50% 50%;
        animation: moveSlide 1.5s linear infinite;
    }
    @keyframes moveSlide {
    0% {
        transform: translateX(10px) perspective(500px)  rotateY(0deg) rotateX(0deg);
    }
    50% {
        transform: translateX(0px)perspective(500px) ; 
    }
    100% {
    transform: translateX(10px) perspective(500px)  rotateY(0deg) rotateX(0deg);
    }
}
select{
    margin-top: 18px;
}
.hide{
    display: none;
}
#fixText{
     height: 40px; position: absolute;
}
#TNum{
    position: absolute; height:50px; size:5; bottom:80px;
}
#mainHome{
	position: relative;
	
}
#wrapper{
	height:100px; position:relative; width:100%; background:silver; 
}
#selDay,#selMon{ width:60px; height: 25px;}
#menu{
	position: absolute; right:20px;
}
.menubarblock{
    height: 70px; border: 0.7px solid #787878; align-items: center;
  justify-content: center; text-align: center;display: flex;
  
}
.menuBarOpen{
/*height: 350px;*/ width: 160px;
opacity: 1; background-color:  rgb(252, 242, 242);
position: fixed;
top: 100px; right : 0; margin: 0;
 z-index:2;
border-radius: 0 0 0 10%;
}
li{
   list-style-type: none;
}
ul{
	padding:0;
}
#containerCase{
            display: flex;justify-content: center;align-items: center;
            flex-direction: column;
}
.caseNumber{
   border: 1px solid black; width:70%;
   text-align: center;
           
        }
a{
	text-decoration: none; color: rgb(59, 0, 0);
	
}
a:focus,a:hover {
    color: rgb(59, 0, 0);
    text-decoration: none;
}
.navbar-atag{
	position: absolute; right:140px; top:40px;
}
.navbar-atag a{
	margin-right:20px;
}