@charset "UTF-8";

       #weatherLogo{
        font-size: 40px;
        position: absolute; top: 260px;         }
       a {
        text-decoration: none; color: rgb(59, 0, 0); font-weight: 40% ; 
            margin: 10px; font-size: small;
       }
       button:hover{
        cursor: pointer;
       }
       
        input[type="checkbox"]:checked {
         border-radius: 50%; appearance: none;
        }
        .fa-solid.fa-circle-check{
            appearance: none; display: none;
        }
        .dupleLabel, .selfLabel:hover,.hobbyLabel{
            cursor: pointer;
        }
        #dupleID, #selfID,.hobbyBox {
            border: none;  border-style: hidden; color: rgb(255, 255, 255);
            width: 20px;
            height: 20px;
            border-radius: 0;
            appearance: none;
            display: none;
            /*appearance: none; naver에서는 보이지 않게 처리하고 label :before 형식으로 처리함*/

        }
        .dupleIdCheck, .selfIdCheck,.hobby{
            font-size: small;
        }
        .centerClass{
            /*position:  relative; width: 80%; height: 100%; opacity: 40%;*/
            display: flex; height: 800px;
            background-color: bisque;
            justify-content: center;
            align-items: center;
            
        }
        .centerbtn{
            padding-top: 240px;
        }
        .weatherSignUp{
            height: 20px; width:  200px; border-style: hidden;
        }
        .weatherSignUp:focus{
            outline: none; color: burlywood;
        }
        .sign{
            position: relative; float: left; margin-left: 5px; margin-right: 5px;
            border-radius: 1dvh; width: 90px; background-color: white; 
            color:#ffbd80;
            border-style: none;
        }
        .sign.signUpBtn{
            color:#ffbd80;
        }