<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="weather.joy.mapper.BoardMapper">
<sql id="criteria">

<trim  prefix="(" suffix = ") AND">
 	<foreach collection="typeArr" item="type" separator="or">
 		<choose>
 		<when test="type == 'T'.toString()">
 		  	bdTitle like '%'||#{keyword}||'%'
 		</when>
 		<when test="type == 'C'.toString()">
 		  	bdContent like '%'||#{keyword}||'%'
 		</when>
 		<when test="type == 'R'.toString()">
 		  	bdRegion like '%'||#{keyword}||'%'
 		</when>
 		</choose>
 	</foreach>
 	</trim>	
 	</sql>

<select id="getTotalCount" resultType="int">
	select count(*) from board where 
	
	<include refid="criteria">
	</include>
	
	bdNum>0
</select>
<!-- 리스트 뽑아올때 사용 -->
<select id="getListWithPaging" resultType="weather.joy.domain.BoardVO">
<![CDATA[
SELECT  
	bdNum, bdTitle, bdContent, memNum, bdRegion, bdDate, bdRegdate
from
(
	SELECT 
		/*+ index_desc(board pk_board)*/ 
		rownum rn, bdNum, bdTitle, bdContent, memNum, bdRegion, bdDate, bdRegdate
	 		FROM 
	 			board 
	 				where 
	 				
	 				]]>
	 <include refid="criteria">
	</include>		
	 				
	 				<![CDATA[rownum <= #{pageNum} * #{amount})
	 	where rn > (#{pageNum}-1) * #{amount}
]]>
	 	

</select>
<select id="searchTest" resultType = "weather.joy.domain.BoardVO">
<![CDATA[
 select * from board
 	where
 	]]>
 	<trim suffix = "and">
 	<foreach collection="map" index="key" item="val" separator="or" open="(" close=")">
 		<if test="key == 'T'.toString()">
 		  bdTtitle like '%'||#{val}||'%'
 		</if>
 		<if test="key == 'C'.toString()">
 		  	bdContent like '%'||#{val}||'%'
 		</if>
 		<if test="key == 'W'.toString()">
 		  	bdWriter like '%'||#{val}||'%'
 		</if>
 	</foreach>
 	</trim>
 	
<![CDATA[ 	
 		rownum < 10
 ]]>
</select>
<insert id="insert">
insert into board (bdNum, bdTitle, bdContent, memNum, bdRegion)
values (seq_board.nextval,  #{bdTitle}, #{bdContent}, #{memNum}, #{bdRegion})
</insert>

<insert id="insertSelectKey" >
	<selectKey keyProperty="bdNum" order="BEFORE" resultType="long">
	select seq_board.nextval from dual
	</selectKey>
	insert into board (bdNum, bdTitle, bdContent, memNum, bdRegion, opBdNum)
values (#{bdNum}, #{bdTitle}, #{bdContent}, #{memNum}, #{bdRegion},#{opBdNum})
</insert>

<select id="read" resultType="weather.joy.domain.BoardVO">
	select * from board where bdNum = #{bdNum} 
</select>
<select id="getRead" resultType="weather.joy.domain.BoardVO">
select b.bdNum, b.memNum, b.opBdNum, b.bdTitle, b.bdContent,b.bdView,b.bdRegion,b.bdDate,b.bdRegdate, o.opStar from board b, optionwj o where b.bdNum = #{bdNum} and o.opBdNum = b.opBdNum  
</select> 
<delete id="delete">
	delete from board where bdNum = #{bdNum}
</delete>

<update id="update">
 <![CDATA[
BEGIN
  
  UPDATE board SET bdTitle = #{bdTitle}, bdContent= #{bdContent}, 
    bdRegion = #{bdRegion}, bdRegdate =sysdate WHERE bdNum = #{bdNum};

  UPDATE optionwj SET opStar = #{opStar} WHERE opBdNum=#{opBdNum};

END;   
]]>

<!-- update board b join optionwj o
	on b.opBdNum = o.opBdNum
set  
	b.bdTitle = #{bdTitle}, 
	b.bdContent = #{bdContent}, 
	memNum = #{memNum}, 
	b.bdRegion = #{bdRegion}, 
	b.bdRegdate =sysdate,
	o.opStar = #{opStar}
		where b.bdNum = #{bdNum} -->
</update>



<!-- <select id="readWriter" resultType="weather.joy.domain.BoardVO">
	 
	select * from board where memNum = #{memNum}
	
	SELECT (SELECT memId FROM member u WHERE u.memNum = b.memNum) AS userName
		FROM board b
			WHERE b.memNum = #{memNum};
</select> -->

<delete id="deleteWriter">
	delete from board where memNum = #{memNum}
</delete>

<update id="updateReplyCnt">
	update board set replyCnt = replyCnt + #{amount} where bdNum = #{bdNum}
</update>

<select id="getReviewListWithPaging" resultType="weather.joy.domain.BoardVO">
<![CDATA[
SELECT  
	bdNum, bdTitle, bdContent, memNum, bdRegion, bdDate, bdRegdate, opStar
from
(
	SELECT 
		/*+ index_desc(board pk_board)*/ 
		rownum rn, bdNum, bdTitle, bdContent, memNum, bdRegion, bdDate, bdRegdate,opStar
	 		FROM 
	 			board ,optionwj
	 				where 
	 				
	 				]]>
	 <include refid="criteria">
	</include>
			
	<![CDATA[rownum <= #{pageNum} * #{amount})
	 	where rn > (#{pageNum}-1) * #{amount}
	]]>
</select>
<insert id="insertOpstar">
<selectKey keyProperty="opBdNum" order="BEFORE" resultType="long">
	select seq_option.nextval from dual
	</selectKey>
insert into optionwj(opBdNum,opStar)
values (#{opBdNum},#{opStar})
</insert>


</mapper>